#header-text {
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#header-icon {
    text-align: center;
    position: absolute;
    top: 28%;
    right: 3%;
    transform: translate(-50%, -50%);
}
nav{
    border-bottom: 1px solid;
    border-bottom-color: #ACACAC;
}

a{
    font-weight: bold;
    color: black;
}

#content{
    margin-top: 2em;
}

h1, h2, h3, h4,h5{
    font-weight: bold;
}

.bottone{
    width: 290px;
    height: 50px;
    margin-top: 40px;
    margin-left: 150px;
    background-image: linear-gradient(to right, #0195CD , #ECA293);
    color: white;
    border: none;
    padding: 15px;
    border-radius:50px;
}


.paragrafoCTA{
    text-align: center;
}

.bottoneCTA{
    margin-left:140px;
}


/*Invia segnalazione*/
#titolo{
    text-align:center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#riquadro-esterno{
    border: 1px solid #ACACAC;
}

#label-esterna{
    border: 1px solid #ACACAC;
    position: relative;
    top: -20px;
    background-color: white;
    display: inline-block;
    padding: 0 15px 0 15px;
}

#form-segnalazione{
    margin-left: 80px;
    margin-top: 80px;
}

.inputfile>input {
	display: none;
	cursor: pointer;
}

#display-image{
	margin-bottom: 20px;
}

#inputDescrizioneLabel{
    padding-right: 50%;
    margin-bottom: 20px;
}

#inputDescrizione{
	width: 70%;
	padding: 40px;
}

#inputLocalizzazione{
	margin-top: 40px;
}

#buttonMaps{
	margin-top: 40px;
	cursor: pointer;
	margin-left: 10px;
	
}

/*Visualizza segnalazioni*/
.scrollable {
    height: 500px; 
    overflow-y: scroll;
}

.btnDettagli{
    margin:0 0 3% 30%; 
    cursor: pointer;
    width: 150px;
    height: 40px;
    padding-top: 9px;
}

#icona-map{
    padding-right: 2em;
}

.btnAnnullaRisolvi{
    margin-top: 1em;
    margin-left: 5em; 
    margin-bottom: 2em;
    cursor: pointer;
    width: 250px;
    height: 40px;
    padding: 9px;
}

/*Sezione Notizie HomePage*/
#immagineCard
{
    width: 250px; 
    height:228px;
}

#testoCard
{
    text-align: left;
    
}

/*Homepage Admin*/
#testoCardAdmin{
    margin-top:-10%;
}
#bottoneScopri
{
    position: relative;
    margin-top: 10%;
    margin-right: 17%;
}

#bottoneEliminaNotizia
{
    max-width: 50px;
    max-height: 50px;
    max-block-size: 50px;
    position: relative;
    margin-bottom: 7%;
    margin-left: 90%;
    width: 40px; height:40px;
}

#bottoneModificaNotizia
{
    margin:0;
}

#bottoneAggiungiNotizia
{

    margin-top: -10%;
    margin-left: 69%;
}


/* Pagina Scopri di più */

#TitoloNotiziaSD
{
    padding-top: 5%;
    padding-bottom: 1%;
    text-align: center;
}

#ImmagineNotiziaSD
{   
    width: 90%;
    height: 90%;
    margin-left: 5%;
}

#TestoNotiziaSD
{
    text-align: left;
    margin-top: 3%;
    
}


#TornaAllaHomeSD
{
    margin-left: 60%;
    padding-bottom:5%;
}


